<div xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout :: layout(~{::#content})}">
    <div id="content" th:replace="~{admin/common/data-layout :: dataLayout(null, '/teacher/pages/timetable/action', ~{::table()}, 'THỜI KHÓA BIỂU', null, false)}">
        <th:block th:fragment="table()">
            <div th:replace="~{_common/timetable-table :: timeTable(${numberRow}, ${timetables}, ~{::action()})}">
                <div th:fragment="action()" class="position-absolute" style="right: 0;"  >
                    <div class="user-action">
                        <div>
                            <i class="fa fa-ellipsis-v cursor-pointer" aria-hidden="true"></i>
                            <div th:replace="~{admin/pages/ticket/ticket-modal :: tickerModal(${'close-course' + id}, ${id}, 'CLOSE_COURSE', 'Kết thúc khóa học')}"/>
                            <ul class="d-none bg-white pl-0 rounded border">
                                <li>
                                    <div class="p-2">
                                        <a href="javascript:void(0)" data-toggle="modal" th:data-target="${'#close-course' + id}">Kết thúc khóa học</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>