<th:block th:fragment="courseCard(item, lg, md, sm)" th:object="${item}">
    <div th:classappend="${'col-lg-' + lg + ' col-md-' + md + ' col-sm-' + sm}">
        <div class="product__item">
            <div class="product__item__pic set-bg" th:data-setbg="*{image}">
                <ul class="product__hover">
                    <li>
                        <a th:href="@{/course/__*{slug}__?courseCode=__*{code}__}">
                            <img th:src="@{/resources/img/icon/search.png}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6 th:title="*{name}" th:text="*{name}" class="dots" />
                <div class="d-flex">
                    <div th:replace="~{user/pages/course/star :: star(*{code}, *{code}, *{avgStar}, true)}"/>
                    <span class="ml-2 small d-flex align-items-center text-secondary">([[*{numberOfReview}]] đánh giá)</span>
                </div>
                <div class="d-flex align-items-center" style="gap: 5px;">
                    <span>Giá: </span>
                    <span class="mb-0 h6" th:text="*{#numbers.formatCurrency(price)}" />
                </div>
                <span class="desc" th:text="*{shortDescription}"/>
            </div>
        </div>
        </div>
</th:block>