<div th:replace="~{user/layout :: layout(${course.name}, ~{::#content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="content">
        <!-- Shop Details Section Begin -->
        <section class="shop-details">
            <div th:replace="~{user/common/breadcrumb :: breadscrumb(${'Khóa học,' + course.name})}"/>
            <div class="product__details__content">
                <div class="container mt-3">
                    <div class="d-flex">
                        <div class="col-md-7 pl-0" style="height: 445px;">
                            <img th:src="${course.image}" class="h-100"/>
                        </div>
                        <div class="col-md-5">
                            <th:block th:if="${course != null}">
                                <form id="add-cart-form" th:action="@{/cart}" method="post" class="product__details__text text-left">
                                    <input type="hidden" name="_REDIRECT_URL_KEY" th:value="@{/course/${course.slug}?courseCode=${course.code}}" />
                                    <h4 class="dots" th:title="${course.name}" th:text="${course.name}"/>
                                    <div class="d-flex align-items-center mb-2">
                                        <th:block th:if="${course.discount le 0}">
                                            <h5 id="new-price" class="mb-0" th:text="${#numbers.formatCurrency(course.price)}"/>
                                        </th:block>
                                        <th:block th:if="${course.discount gt 0}">
                                            <h5 id="new-price" class="mb-0" th:text="${#numbers.formatCurrency(course.price * ((100 - course.discount)/100.0))}"/>
                                            <span id="old-price" th:text="${#numbers.formatCurrency(course.price)}"/>
                                        </th:block>
                                    </div>
                                    <p class="my-3" th:text="${course.shortDescription}"/>
                                    <div class="product__details__option">
                                        <b>Lịch (Chọn lịch để đăng ký)</b>
                                        <div class="owl-carousel mt-3">
                                            <th:block th:if="${not #lists.isEmpty(course.assignments)}">
                                                <div th:each="a : ${course.assignments}" class="d-flex border p-3" th:classappend="${a.maxStudent eq a.registerStudent ? 'disabled' : ''}" style="gap: 5px">
                                                    <input th:id="${a.id}" type="checkbox" name="assignmentId" th:value="${a.id}" th:disabled="${a.maxStudent eq a.registerStudent}" />
                                                    <label th:for="${a.id}" class="mb-0 d-flex flex-column align-items-center">
                                                        <span><b>Ngày: </b><th:block th:text="#{'day-of-week.' + ${a.dayOfWeek}}"/>&#44;&nbsp;<th:block th:text="${#dates.format(a.startTime, 'HH:mm')}"/>-<th:block th:text="${#dates.format(a.endTime, 'HH:mm')}"/></span>
                                                        <span><b>Học viên: </b>[[${a.registerStudent}]]/[[${a.maxStudent}]]</span>
                                                        <span><b>Giáo viên: </b><span th:text="${a.teacherName}"/></span>
                                                        <span><b>Hồ bơi: </b><span th:text="${a.poolName}"></span></span>
                                                    </label>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="${not #lists.isEmpty(course.assignments)}">
                                                <!-- Display this text when there are no assignments -->
                                                <span><b>Chưa có lịch bạn nhé !!<b></b></span>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="product__details__cart__option mb-0">
                                        <button class="primary-btn border-0 rounded w-100">Thêm giỏ hàng</button>
                                    </div>
                                </form>
                            </th:block>
                            <th:block th:unless="${course != null}">
                                <!-- Display this text when there is no course -->
                                <span>Không có Khóa học</span>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product__details__tab w-100">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab-desc">Mô Tả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-comment">Đánh giá</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-desc" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item px-5" th:utext="${course.description}" />
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-comment" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item px-5">
                                            <div th:if="${myReview ne null}">
                                                <h6>Đánh giá của tôi</h6>
                                                <div th:replace="~{user/pages/course/comments :: commentTemplate(${myReview})}"/>
                                            </div>
                                            <div th:replace="~{user/pages/course/comments :: comments(${reviewMap.values()}, ${course.id}, ${myReview ne null})}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Details Section End -->
        <!-- Related Section Begin -->
        <section class="related spad pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="related-title">Sản phẩm liên quan</h3>
                    </div>
                </div>
                <div class="row" style="row-gap: 30px">
                    <div th:replace="~{user/pages/home/course :: course(null, 'relatedCourse')}"/>
                </div>
            </div>
        </section>
        <!-- Related Section End -->
    </div>
</div>
