<div xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout :: layout(~{::#content})}">
    <div id="content">
        <a th:href="@{/admin/assignment}">Quay lại</a>
        <form
                th:action="@{__${currentUri}__}"
                th:object="${assignmentCreation}"
                method="post"
                class="d-flex flex-column mt-3"
                style="gap: 20px;"
        >
            <div>
                <div class="mt-2 card p-3">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="required">Giáo viên dạy bơi</label>
                            <select class="form-control" th:field="*{userId}">
                                <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.username + '-' + teacher.fullName}" />
                            </select>
                        </div>
                    </div>

                    <div id="assignment-container">
                        <div
                            th:id="${'form' + _status.index}"
                            th:each="form,_status : *{assignmentFields}"
                            th:with="startDate=*{assignmentFields[__${_status.index}__].startDate},_id=*{assignmentFields[__${_status.index}__].id},isDisabled=${!#strings.isEmpty(_id) and startDate ne null and startDate.before(#dates.createNow())}"
                            class="card p-3 mt-3"
                        >
                            <input type="hidden" th:field="*{assignmentFields[__${_status.index}__].id}"/>
                            <div class="d-flex justify-content-between">
                                <a data-toggle="collapse" th:href="${'#formAssignment' + _status.index}" role="button" class="h3 text-dark">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <label>
                                        Lịch dạy [[__${_status.index + 1}__]]
                                        <th:block th:if="${isDisabled}">
                                            (Lịch dạy đã áp dụng)
                                        </th:block>
                                    </label>
                                </a>
                                <div class="d-flex" style="gap: 5px">
                                    <button
                                        th:formaction="@{/admin/assignment/delete-row(index=${_status.index})}"
                                        formmethod="post"
                                        th:disabled="${isDisabled}"
                                        formnovalidate
                                        class="btn btn-danger"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="collapse show" th:id="${'formAssignment' + _status.index}">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label class="required">Khóa học</label>
                                        <select class="form-control" th:field="*{assignmentFields[__${_status.index}__].courseId}" th:readonly="${isDisabled}">
                                            <option th:each="course: ${courses}" th:value="${course.id}" th:text="${course.name}" />
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="required">Hồ bơi</label>
                                        <select class="form-control" th:field="*{assignmentFields[__${_status.index}__].poolId}" th:readonly="${isDisabled}">
                                            <option th:each="pool: ${pools}" th:value="${pool.id}" th:text="${pool.name}" />
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label class="required">Thứ</label>
                                        <select class="form-control" th:field="*{assignmentFields[__${_status.index}__].dayOfWeek}" th:readonly="${isDisabled}">
                                            <option
                                                    th:each="day : ${T(java.time.DayOfWeek).values()}"
                                                    th:value="${day}"
                                                    th:text="#{'day-of-week.' + __${day}__}"
                                            />
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="required">Thời gian áp dụng</label>
                                        <input type="date" class="form-control" th:field="*{assignmentFields[__${_status.index}__].startDate}" th:readonly="${isDisabled}" required/>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label class="required">Thời gian bắt đầu</label>
                                        <input type="time" class="form-control" th:field="*{assignmentFields[__${_status.index}__].startTime}" th:readonly="${isDisabled}" required/>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="required">Thời gian kết thúc</label>
                                        <input type="time" class="form-control"  th:field="*{assignmentFields[__${_status.index}__].endTime}" th:readonly="${isDisabled}" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button th:formaction="@{/admin/assignment/add-row}" formmethod="post" formnovalidate class="btn btn-primary mt-3">Thêm lịch dạy</button>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary" th:href="@{/admin/assignment}">Hủy bỏ</a>
                <button id="add-assignment" class="btn btn-primary ml-3">Lưu lại</button>
            </div>
        </form>
    </div>
</div>