<ul class="d-none bg-white pl-0 rounded border" th:fragment="actionList(userId)">
    <li class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
            <a th:href="@{/admin/assignment/update(userId=${userId})}">Chỉnh sửa</a>
        </div>
    </li>

<!--    <li class="border-bottom">-->
<!--        <div class="p-2 d-flex align-items-center">-->
<!--            <i class="fa fa-trash mr-2" aria-hidden="true"></i>-->
<!--            <a th:href="@{/admin/assignment/delete(userId=${userId})}">Xóa</a>-->
<!--        </div>-->
<!--    </li>-->
</ul>