<ul class="d-none bg-white pl-0 rounded border" th:fragment="actionList(active, id, role)">
    <li th:if="${#strings.startsWith(currentUri, '/admin/user/staff') && active}" class="border-bottom">
        <div class="p-2 d-flex align-items-center">
            <i class="fa fa-edit mr-2" aria-hidden="true"></i>
            <a th:href="@{/admin/user/staff(id=${id})}">Cập nhật</a>
        </div>
    </li>
    <th:block th:switch="${active}">
        <li th:case="${true}" class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-exchange mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/user/change-status(id=${id}, role=${role})}">Khóa tài khoản</a>
            </div>
        </li>
        <li th:case="${false}" class="border-bottom">
            <div class="p-2 d-flex align-items-center">
                <i class="fa fa-exchange mr-2" aria-hidden="true"></i>
                <a th:href="@{/admin/user/change-status(id=${id}, role=${role})}">Mở khóa tài khoản</a>
            </div>
        </li>
    </th:block>
</ul>