<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, body)">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${ title }">Swimming Pool</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/_common/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/_common/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/footer.css}" type="text/css">
    <style>
        .required:after {
            content: ' *';
            color: var(--danger);
        }
    </style>
</head>
<body>

    <div style="height: fit-content">
        <div th:replace="_common/notifier :: div"></div>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
<!--        <jsp:include page="common/header.jsp" />-->
<!--        <jsp:include page="../../${pageContent}" />-->
<!--        <jsp:include page="common/footer.jsp" />-->
    </div>
</body>
</html>