<!-- Sidebar -->
<ul xmlns:th="http://www.thymeleaf.org" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="${contextPath}/admin/home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-yelp" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Swimming Course</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li th:replace="~{admin/common/link :: link(@{/admin/category}, 'Dashboard', 'fa fa-table', false)}" />

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li th:replace="~{admin/common/link :: link(@{/admin/course}, 'Quản lý khóa học', 'fa fa-table', ${#strings.startsWith(currentUri, '/admin/course')})}" />
    <li th:replace="~{admin/common/link :: link(@{/admin/category}, 'Quản lý sản phẩm', 'fa fa-table', false)}" />
    <li th:replace="~{admin/common/link :: link(@{/admin/category}, 'Quản lý khách hàng', 'fa fa-table', false)}" />
    <li th:replace="~{admin/common/link :: link(@{/admin/category}, 'Quản lý đơn hàng', 'fa fa-table', false)}" />


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->