<div xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout :: layout(~{::#content})}">
    <div id="content" th:replace="~{admin/common/data-layout :: dataLayout('admin/pages/course/search-form', 'admin/pages/course/action', ~{::.table-responsive}, 'Quản Lý Khóa Học', 'Danh sách khóa học', true)}">
        <div class="table-responsive">
            <table class="table table-bordered w-100" id="dataTable">
                <thead>
                <tr>
                    <th class="table-column-header" data-col="stt" data-show="true">STT</th>
                    <th class="table-column-header" data-col="image" data-show="true">Hình ảnh</th>
                    <th class="table-column-header" data-col="code" data-show="true">Mã khóa học</th>
                    <th class="table-column-header" data-col="name" data-show="true">Tên khóa học</th>
                    <th class="table-column-header" data-col="price" data-show="true">Giá</th>
                    <th class="table-column-header" data-col="numberOfLesson" data-show="false">SL buổi học</th>
                    <th class="table-column-header" data-col="discount" data-show="true">Giảm giá(%)</th>
                    <th class="table-column-header" data-col="createdDate" data-show="false">Ngày tạo</th>
                    <th class="table-column-header" data-col="updatedDate" data-show="false">Ngày cập nhật</th>
                    <th class="table-column-header" data-col="status" data-show="true">Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="course,_status : ${_PAGING_KEY.items}" th:object="${course}">
                        <div th:replace="~{_common/modal :: modal(*{'deleteCourse' + id}, 'Xác nhận', *{'Bạn có chắc chắn muốn xóa ' + name}, @{/admin/course/delete(id=*{id})}, 'get', null, null, null)}" />
                        <td data-col="stt" th:text="${ _status.index + 1 + ( (_PAGING_KEY.page - 1) * _PAGING_KEY.pageSize ) }"></td>
                        <td data-col="image">
                            <img width="100%" height="100px" th:src="*{avatar}" th:alt="*{name}"
                                 style="max-width: 135px;"/>
                        </td>
                        <td data-col="code" th:text="*{code}" />
                        <td data-col="name" th:text="*{name}"/>
                        <td data-col="price" th:text="*{#numbers.formatCurrency(price)}" />
                        <td data-col="numberOfLesson" th:text="*{numberOfLesson}" />
                        <td data-col="discount" th:text="*{discount}" />
                        <td data-col="createdDate" th:text="*{#dates.format(createdDate, 'dd/MM/yyyy')}"/>
                        <td data-col="updatedDate" th:text="*{#dates.format(modifiedDate, 'dd/MM/yyyy')}"/>
                        <td data-col="status">
                            <span th:class="*{ active ? 'text-success' : 'text-danger' }">[[*{ active ? 'Hoạt động' : 'Ngưng hoạt động' }]]</span>
                        </td>
                        <td class="user-action">
                            <div>
                                <i class="fa fa-ellipsis-v cursor-pointer" aria-hidden="true"></i>
                                <ul th:replace="~{admin/pages/course/table-action :: actionList(*{active}, *{id}, *{slug})}"></ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>