<div xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout :: layout(~{::#content})}">
    <div id="content" th:replace="~{admin/common/data-layout :: dataLayout('admin/pages/course/search-form', 'admin/pages/course/action', ~{::.table-responsive}, 'Quản Lý Khóa Học', 'Danh sách khóa học', true)}">
        <div class="table-responsive">
            <table class="table table-bordered w-100" id="dataTable">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã danh mục</th>
                    <th>Tên danh mục</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>sdf</td>
                    <td>sdf</td>
                    <td>sdf</td>
                    <td>sdf</td>
                    <td>
                        <button title="Chỉnh sửa danh mục" class="btn btn-primary" data-toggle="modal" data-target="#update-${ item.code }">
                            <i class="fa fa-pencil-square-o text-white" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>