<!-- Bắt đầu phần chân trang -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Phần Giới Thiệu -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a th:href="@{/home}">
                            <img th:src="@{/resources/img/LogoTA.png}" alt="Logo bể bơi Thành An" style="width: 200px; height: auto;">
                        </a>

                    </div>

                    <p>Hãy đắm mình vào không gian mát lạnh tại Thành An, nơi mỗi làn nước mang lại niềm vui. Tọa lạc tại trung tâm Ktx khu B Đông Hòa Dĩ An Bình Dương, chúng tôi cung cấp một thiên đường dưới nước cho mọi lứa tuổi.</p>
                </div>
            </div>
            <!-- Phần Dịch Vụ -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Dịch Vụ Của Chúng Tôi</h6>
                    <ul>
                        <li><a href="#">Thẻ Thành Viên</a></li>
                        <li><a href="#">Lớp Học Bơi</a></li>
                        <li><a href="#">Tổ Chức Sự Kiện</a></li>
                        <li><a href="#">Café Bên Hồ Bơi</a></li>
                    </ul>
                </div>
            </div>
            <!-- Phần Thông Tin -->
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Thông Tin</h6>
                    <ul>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Giờ Mở Cửa</a></li>
                        <li><a href="#">Bản Đồ Địa Điểm</a></li>
                        <li><a href="#">Hướng Dẫn An Toàn</a></li>
                    </ul>
                </div>
            </div>
            <!-- Phần Bản Tin -->
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Bản Tin</h6>
                    <div class="footer__newsletter" style="color: white;" >
                        <p>Đăng ký nhận bản tin của chúng tôi để cập nhật thông tin mới nhất, các ưu đãi độc quyền và sự kiện đặc biệt tại Bể Bơi Thành An!</p>
                        <!-- Form Bản Tin -->
                        <!-- Thêm form của bạn ở đây nếu cần -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Kết thúc phần chân trang -->
